html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #201DC0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#header,
#footer {
    display: flex;
    width: 100%;
    flex-basis: 90px;
}

#header {
    background-color: #240B6E;
}

#container {
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    background-color: #090614;
}

#display {
    width: 90%;
    flex: 1 0 100px;
    background-color: #A8E1F5;
}

#footer {
    background-color: #1D0B4F;
}